.food_menu{
  margin-top: 100px;
  margin-left: 100px;
  padding-bottom: 50px;
}


.foods{
  text-decoration: none;
  color: dimgrey;
}

.foods_list{
  color: dimgrey;
  text-decoration: none;
}

li{
  margin-top: 50px;
}
