<%= render "shared/header" %>

  <div class="food_page">
    <ul class="food_menu">
      <li><%= link_to "買ってきた食材を登録する", "#", class:"foods" %></li>
      <li><%= link_to "登録している食材を確認する", "#", class:"foods_list" %></li>

    </ul>
  </div>