<%= render "shared/header" %>


<h1>食材登録</h1>

<div class="buy_days">
  <%= text_area :buy_month, class:"buy_day" %> 月
  <%= text_area :buy_day, class:"buy_day" %> 日
</div>

<div class="food_genre"></div>

<div class="food_name"></div>