.login-nav{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: gray;
}

input[type="email"],
input[type="password"],
input[type="text"]
{
  width: 500px;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
}


.login-btn{
  color: gray;
  border: 1px solid lightgray;
  padding: 20px;
  margin-right: 10px;
}